
body {
  
    padding: 0;
    margin: 0;
    font-family: 'Encode Sans SC', sans-serif;

}

.main {

    display: flex;
    flex-direction: column;
    height: 100vh;

    color: #09fbba;
    font-weight: 100;

    & h1, h2 {
        margin-top: 2em;
        margin-bottom: 4em;
        border-bottom: 1px solid #09fbba;
        border-top: 1px solid #09fbba;

        padding: 10px 0;

        text-align: center;

        color: #09fbbaa1;

    }

    & h3 {

        color: #09fbbaa1;

    }

    & p {

        text-align: justify;

    }

    & .top {

        display: flex;
        flex: 0 0 60%;
        flex-direction: row;
        overflow: hidden;

        & .box-1 {

            background: rgba(51, 51, 51, 0.877);
            flex: 0 0 50%;
            position: relative;

            & .box-1-container {

                max-height: 100%;
                overflow: auto;
                padding: 0.5rem 2rem;

            }

        }

        & .drag-x {

            background: linear-gradient(360deg, gray 50%, white 100%);
            cursor: col-resize;
            flex: 0 0 8px;
          
        }

        & .box-2 {

            background: url("../image/pix.jpg") center/cover;
            flex: 1;

        }


    }

    & .drag-y {

        background: linear-gradient(90deg, gray 55%, white 100%);
        cursor: row-resize;
        caret-color: auto;
        flex: 0 0 8px;
        z-index: 10;

    }

    & .bottom {

        background: rgba(51, 51, 51, 0.87);
        flex: 1;
        overflow: hidden;

        & .bottom-container {

            max-height: 100%;
            overflow: auto;
            display: flex;

            & p {

                padding: 3.5rem;

            }

        }

    }

}

